body, body > #root > div {
  height: 100vh;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

.title, .context {
  color: #34495e;
  text-align: justify;
}
